/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
* {
    font-family: 'Roboto', sans-serif;
}

/* Regole Generali */
:root {
    /* color */
    --main-color: #0084fd;
    --main-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --tertiary-color: #ffffff;
    --last-color: #333333;

    /* distance */
    --distance: 3rem;
    --double-distance: 6rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */
header {
    height: 5rem;
    background-color: var(--main-color);
}

.cont-header {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    padding: 1.5rem;
}

/* Main */

/* First Section */
#utilities {
    background-color: var(--tertiary-color);
}

.cards {
    flex-wrap: wrap;
    padding: var(--distance) 0 var(--double-distance);
}

.card {
    width: calc(100% / 3);
    background-color: var(--main-color-light);

    border: 1px solid black;
}

.card:first-child {
    width: calc((100% / 3) * 2);
}