/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
* {
    font-family: 'Roboto', sans-serif;
}

/* Regole Generali */
:root {
    /* color */
    --main-color: #0084fd;
    --main-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --tertiary-color: #ffffff;
    --last-color: #333333;

    /* distance */
    --distance: 3rem;
    --double-distance: 6rem;
    --space: 1.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */
header {
    height: 5rem;
    background-color: var(--main-color);
}

.cont-header {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    padding: 1.5rem;
}

/* Main */

/* First Section */
#utilities {
    background-color: var(--tertiary-color);
}

#utilities .cards {
    flex-wrap: wrap;
    gap: var(--space);
    padding: var(--distance) 0 var(--double-distance);
}

#utilities .card {
    width: calc((100% / 3) - 1.5rem);
    background-color: var(--main-color-light);

    border: 1px solid black;
}

#utilities .card:first-child {
    width: calc(((100% / 3) * 2) - 1.5rem);
}

/* Second Section */
#planning {
    background-color: var(--secondary-color);
}

.cont-planning {
    padding: var(--double-distance) var(--double-distance) var(--distance);
    justify-content: center;
    align-items: flex-end;
}

.planning-card {
    
    border: 1px solid black;
}

/* Third Section */
#testimonials {
    background-color: var(--tertiary-color);
}

.cont-testimonials {
    padding: var(--distance) 0 var(--double-distance);
    text-align: center;
}

#testimonials .cont-testimonials > .text {
    padding: 0 0 var(--distance) 0;
}

.card-testim {
    background-color: var(--secondary-color);
    margin: var(--space) 0;
    padding: var(--space);

    justify-content: space-between;
}

/* Fourth Section */
#benefits {
    background-color: var(--secondary-color);
    padding-bottom: var(--distance);
}

#benefits .text {
    text-align: center;
    padding: var(--distance) 0;
}

.cont-benefits {
    flex-wrap: wrap;
    gap: var(--space);
}

.cont-benefits .card {
    width: calc((100% / 3) - 1.5rem);
    background-color: var(--tertiary-color);
    padding: var(--space);

    border: 1px solid black;
}

/* Fifth Section */
#about-us {
    background-color: var(--tertiary-color);
    padding: var(--distance) 0 var(--double-distance) 0;
}

.cont-fifth-sec {
    justify-content: space-between;
}

/* Sixth Section */
#get-started {
    background-color: var(--secondary-color);
    padding: var(--distance) 0;
}

.cont-get-started {
    text-align: center;
}
