/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font */
* {
    font-family: 'Roboto', sans-serif;
}

/* Regole Generali */
:root {
    /* color */
    --main-color: #0084fd;
    --main-color-light: #b5ddff;
    --secondary-color: #9792e4;
    --tertiary-color: #ffffff;
    --last-color: #333333;
    --card-text-color: #5d7284;

    /* distance */
    --distance: 3rem;
    --double-distance: 6rem;
    --space: 1.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.7rem;
}

.txt-center {
    text-align: center;
}

/* Header */
header {
    height: 5rem;
    background-color: var(--main-color);
}

.cont-header {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav ul li a {
    color: var(--tertiary-color);
    padding: 1.5rem;
}

header nav ul li .button {
    color: var(--last-color);
    font-weight: bold;
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 1.5rem;
}

/* Main */

/* First Section */
#utilities {
    background-color: var(--tertiary-color);
}

#utilities .cards {
    flex-wrap: wrap;
    gap: var(--space);
    padding: var(--distance) 0 var(--double-distance);
}

#utilities .card {
    width: calc((100% / 3) - 1.5rem);
    background-color: var(--main-color-light);
    border-radius: 1.5rem;
}

#utilities .card:first-child {
    width: calc(((100% / 3) * 2) - 1.5rem);
}

#utilities .cards .card .card-text {
    width: 50%;
    padding: var(--space);
}

#utilities .cards .card .card-text > h2 {
    color: var(--main-color);
    margin-bottom: var(--space);
}

#utilities .cards .card .card-text > p {
    color: var(--card-text-color);
    font-weight: bold;
    margin-bottom: var(--space);
}

#utilities .cards .card .card-text .button {
    display: inline-block;
    color: var(--tertiary-color);
    font-weight: bold;
    background-color: var(--main-color);
    padding: 0.7rem 3rem;
    border-radius: 1.5rem; 
}

#utilities .cards .card-img {
    justify-content: center;
    width: 50%;
}

#utilities .cards .card-img img {
    width: 70%;
}

#utilities .card:not(:first-child) {
    padding: var(--space);
}

.icon {
    font-size: 5rem;
    color: var(--main-color);
}

.card h2:not(:first-child) {
    margin: var(--space) 0;
    color: var(--main-color);
}

.card p {
    color: var(--card-text-color);
    font-weight: bold;
    line-height: 1.7rem;
}

/* Second Section */
#planning {
    background-color: var(--secondary-color);
}

.cont-planning {
    padding: var(--double-distance) var(--double-distance) var(--distance);
    justify-content: space-around;
    align-items: flex-end;
}

.planning-card {
    width: 40%;
}

.planning-card img {
    width: 100%;
}

.planning-card > h3 {
    margin: var(--double-distance) 0 var(--space) 0;
    color: var(--tertiary-color);
    font-size: 2rem;
}

.planning-card > p {
    color: var(--tertiary-color);
}

.planning-card2 {
    width: 40%;
    border-radius: 1.5rem;
    padding: var(--space);
    background-color: var(--tertiary-color);
}

.planning-card2 img {
    width: 70%;
}

.planning-card2 > h3 {
    color: var(--last-color);
    margin: var(--space) 0;
}

.planning-card2 > .circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: var(--space) auto 0;
    background-color: var(--secondary-color);
}

.planning-card2 > .circle a {
    color: var(--last-color);
    padding: 0.5rem;
}

/* Third Section */
#testimonials {
    background-color: var(--tertiary-color);
}

.cont-testimonials {
    padding: var(--distance) 0 var(--double-distance);
}

.cont-testimonials h2 {
    color: var(--secondary-color);
    font-size: 3rem;
    margin: var(--space) 0;
}

#testimonials .cont-testimonials > .text {
    padding: 0 0 var(--distance) 0;
}

.card-testim {
    background-color: var(--secondary-color);
    margin: var(--space) 0;
    padding: var(--space);
    border-radius: 1.5rem;

    justify-content: space-between;
}

.card-testim .img-card {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bg-img1 {
    background-image: url('../img/testimonial1.jpg');
    background-size: cover;
    background-position: center;
}

.bg-img2 {
    background-image: url('../img/testimonial2.jpg');
    background-size: cover;
    background-position: center;
}

.bg-img3 {
    background-image: url('../img/testimonial3.jpg');
    background-size: cover;
    background-position: center;
}

.cont-testimonials .card-testim .text {
    width: 75%;
    color: var(--tertiary-color);
    align-self: center;
}

.q-mark {
    font-size: 1.5rem;
}

.text > .name {
    font-weight: bold;
    margin: var(--space) 0 0;
}


/* Fourth Section */
#benefits {
    background-color: var(--secondary-color);
    padding-bottom: var(--distance);
}

#benefits h2 {
    color: var(--tertiary-color);
    font-size: 3rem;
    padding: var(--distance) 0;
}

.cont-benefits {
    flex-wrap: wrap;
    gap: var(--space);
}

.cont-benefits .card {
    width: calc((100% / 3) - 1.5rem);
    background-color: var(--tertiary-color);
    padding: var(--space);

    border-radius: 1.5rem;
}

#benefits .cont-benefits .card span {
    color: var(--secondary-color);
    font-size: 3rem;
}

#benefits .cont-benefits .card h3 {
    color: var(--secondary-color);
    margin: var(--space) 0;
}

#benefits .cont-benefits .card p {
    font-weight: 300;
    margin-bottom: var(--space);
}

#benefits .cont-benefits .card .button {
    display: inline-block;
    color: var(--tertiary-color);
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 10px 50px;
    border-radius: 1.5rem;
}

/* Fifth Section */
#about-us {
    background-color: var(--tertiary-color);
    padding: var(--distance) 0 var(--double-distance) 0;
}

.cont-fifth-sec {
    justify-content: space-between;
}

.cont-fifth-sec h2 {
    color: var(--secondary-color);
    font-size: 3rem;
}

.fifth-sec-text {
    width: 70%;
}

#f-sec-p {
    margin: var(--space) 0;
}

.fifth-sec-img {
    width: 20%;
    flex-direction: column;
    align-items: center;
}

.fifth-sec-img .img-card {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('../img/about.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.q-mark-img {
    color: var(--secondary-color);
    font-size: 5rem;
    align-self: flex-end;
    position: absolute;
    top: 0;
    right: -15px;
}

.fifth-sec-img > p {
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.5rem;
    padding: var(--space) 1rem;
}

.fifth-sec-img > .button {
    display: inline-block;
    color: var(--tertiary-color);
    font-weight: bold;
    background-color: var(--secondary-color);
    padding: 10px 12px;
    border-radius: 1.5rem;
}

/* Sixth Section */
#get-started {
    background-color: var(--secondary-color);
    padding: var(--distance) 0;
}

.cont-get-started {
    width: 50%;
}

.cont-get-started > span {
    color: var(--tertiary-color);
}

.cont-get-started > h2 {
    color: var(--tertiary-color);
    font-size: 2rem;
    margin: var(--space);
}

.cont-get-started > h3 {
    color: #fdc15f;
    font-size: 4rem;
}

.cont-get-started > p:not(:last-child) {
    color: var(--tertiary-color);
    padding: 0 9.5rem;
    margin: var(--space) 0;
}

.cont-get-started > #copy {
    color: var(--tertiary-color);
    font-size: 0.8rem;
    margin-top: var(--space);
}

.cont-get-started > #copy a {
    color: var(--tertiary-color);
    text-decoration: underline;
}

.cont-get-started > .button {
    display: inline-block;
    color: var(--secondary-color);
    font-weight: bold;
    background-color: var(--tertiary-color);
    padding: 20px 60px;
    border-radius: 3rem;
}

/* Footer */
footer {
    background-color: var(--last-color);
    padding: var(--distance) 0;

    text-align: center;
}
